

a{
    text-decoration: none;
}

.largo{
    width: 100%;
    margin: 20px auto;
}

form {
    /* padding: 10% 30% 10% 30%;
    height: 60%; */
    margin-top: 10%;
}

label:first-child{
    margin-top: 20px;
}