<h3 class="text-center mb-5 mt-5">Lista de itens doados</h3>
<main class="container-xl">
  <div style="background: #F9F9F9; width: 70%; margin-left: 15%;" class="px-5 mt-3 pb-4 border border-2 rounded-3">
    <div class="d-flex justify-content-evenly mt-3" style="width: 75%; margin: 0 auto;" *ngFor="let mat of materiaisFilho">
      <div class="col-md-1 ml-3">
        <img [src]="mat.id.material.urlFoto" class="mb-2" alt="" height="60" width="60">
      </div>

      <div class="col-md-1 mt-2 ml-2">
        <label class="fs-5" for="">{{ mat.quantidadeDoada }}</label>
      </div>
      
      <div class="col-md-1 mt-2 ml-2">
        <label class="fs-5" for="">{{ mat.id.material.descricao }}</label>
      </div>
  
    </div>
  </div>

    <div style="background: #309CC9; width: 70%; margin-left: 15%;" class="text-start pt-1 mb-5 border border-2 px-5 rounded-3">
        <p>Para: {{ materialFilho.id.filho.nome }} e responsável {{ materialFilho.id.filho.pai.nome }}</p>
        <p>Contato responsável: {{ materialFilho.id.filho.pai.celular }}</p>
        <p class="mb-5">Email responsável: {{ materialFilho.id.filho.pai.email }}</p>
        <p>Endereço da escola: Rua {{ materialFilho.id.filho.escola.logradouro }}, {{ materialFilho.id.filho.escola.numero }}</p>
        <p>CEP: {{ materialFilho.id.filho.escola.cep }}</p>
        <p>{{ materialFilho.id.filho.escola.uf }} - {{ materialFilho.id.filho.escola.localidade }}</p>
    </div>

    <div style="width: 70%; margin-left: 15%;" class="text-start pt-1 mb-5 border border-2 px-5 rounded-3">
      <h3 class="text-center mb-5 mt-5">Receba os dados de contato do responsável e da escola por e-mail:</h3>
      <input class="form-control col-4" style="margin-right: 20px;" type="text" name="emailDoador" [(ngModel)]="dto.emailDoador" id="doador" required>
      <div class="d-flex justify-content-center"><a style="cursor: pointer;" (click)="enviarEmail()"><img src="assets/img-geral/gmail.png" class="mb-2" alt="" height="50" width="50"></a></div>
  </div>
</main>