<h3 class="display-6 md-3">Cadastro de filhos</h3>

<form style="padding: 10px" #formValidate="ngForm" *ngIf="filho.escola !== null">
  <section class="row g-3 mb-3">
    <div class="form-group col-md-5">
      <label>Nome</label>
      <span class="asterisco" *ngIf="nomeValidate.invalid">*</span>
      <input
        type="text"
        #nomeValidate="ngModel"
        class="form-control"
        id="nome"
        name="nome"
        [(ngModel)]="filho.nome"
        required
        autocomplete="false"
      />
    </div>

    <div class="form-group col-md-3">
      <label>Data Nascimento</label>
      <span class="asterisco" *ngIf="dataNascimento">*</span>

      <div class="input-group">
        <input
          type="text"
          #dataNascimento="ngbDatepicker"
          class="form-control"
          id="data"
          name="data"
          [minDate]="{ year: 1950, month: 1, day: 1 }"
          [maxDate]="{ year: 2007, month: 12, day: 31 }"
          [(ngModel)]="filho.dataNascimento"
          ngbDatepicker
          required
          placeholder="dd/mm/yyyy"
        />
        <button
          type="button"
          class="btn btn-primary"
          (click)="dataNascimento.toggle()"
        ></button>
      </div>
    </div>

    <div class="form-group col-md-3">
      <label>CPF</label>
      <span class="asterisco" *ngIf="cpfValidate">*</span>
      <input
        type="text"
        #cpfValidate="ngModel"
        class="form-control"
        id="cpf"
        name="cpf"
        mask="999.999.999-99 | 999.999.999-99"
        [(ngModel)]="filho.cpf"
        required
        autocomplete="false"
      />
    </div>
  </section>

  <section class="row g-3 mb-3">
    <div class="form-group col-md-5">
      <label>Escola</label>
      <span class="asterisco" *ngIf="escolaValidate.invalid">*</span>
      <input
        type="text"
        #escolaValidate="ngModel"
        class="form-control"
        id="escola"
        name="escola"
        [(ngModel)]="escola.nome"
        required
        autocomplete="false"
      />
    </div>

    <div class="form-group col-md-3">
      <label>Estado</label>
      <select id="estado" name="estado" [(ngModel)]="estado.id" class="form-control" required>
        <option [ngValue]="e.id" *ngFor="let e of estados">{{ e.nome }}</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label>Descricao</label>
      <select id="descricao" name="descricao" [(ngModel)]="escola.descricao" class="form-control" required>
        <option value="" selected>[Selecione]</option>
        <option value="Municipal" selected>Municipal</option>
        <option value="Estadual" selected>Estadual</option>
      </select>
    </div>
  </section>

  <div class="mb-3">
    <label for="relato" class="form-label">Relato</label>
    <span class="asterisco" *ngIf="relatoValidate">*</span>
    <textarea
      class="form-control"
      id="relato"
      name="relato"
      #relatoValidate="ngModel"
      required
      rows="3"
      [(ngModel)]="filho.relato"
    ></textarea>
  </div>

  <section>
    <div class="form-group row justify-content-center mb-3">
      <button
        type="button"
        class="btn btn-primary col-1"
        (click)="novo()"
        style="margin-left: 12px"
      >
        Limpar
      </button>
      <button
        type="button"
        class="btn btn-primary col-1"
        [disabled]="formValidate.invalid"
        style="margin-left: 12px"
        (click)="salvar()"
      >
        Salvar
      </button>
    </div>
  </section>
</form>
