/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tamanho{
    width: 100%;
}

.ng-valid[required], .ng-valid.required{
    border-left: 7px solid #42A948;
}

.ng-invalid:not(form){
    border-left: 7px solid #a94442;
}

.contorno{
    padding: 20px 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    
    margin-right: 1%;
}


.asterisco{
    /* font-size: 20px; */
    color: red;
    margin-left: 5px;
}

.separaprim{
    margin-left: 40px;
}

.marginOpc{
    margin-top: 27px;
}

.padd{
    margin-bottom: 0;
}

.cent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: start;
    align-items: center;
}

.segunda-coluna:nth-child(even){
    margin-left: 15px;
    margin-bottom: 15px;
}

.terceira-coluna:nth-child(odd){
    margin-left: 15px;
    margin-bottom: 15px;
}