input[type="text"]::placeholder {
    text-align: center;
    font-size: 23px;
    color: #363636;
}

.inp{
    border: none;
}

.inpu{
    border-right: 3px solid #E8E8E8;
}

.input-bottom{
    border-bottom: 3px solid #E8E8E8;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.inp.middle:focus {
    outline-width: 0;
}

.borda{
    width: 60%;
    padding: 7px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

