<p class="fs-4">Procure as crianças mais próximas que precisam da sua ajuda!</p>

<div class="rounded-pill">
<div class="input-group input-group-lg container-sm borda">
    <input type="text" class="form-control inp inpu" placeholder="Estado" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <input type="text" class="form-control inp inpu" placeholder="Escola" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <input type="text" class="form-control inp " placeholder="Material escolar" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <button type="button" class="rounded-pill btn btn-danger">
        <i class="bi bi-search"></i>
      </button>
</div>

</div>
<p class="text-center fs-1 text-danger">Como você pode ajudar</p>

<div *ngFor="let i of materiaisFilho" class="separaprim">
    <div class="card contorno" style="width: 26rem; height:23rem; float: left; margin-top: 2%">
      <div class="card-header">
        <h5 class="text-center fs-1 text-dark">{{ i.filho.nome }}</h5>
      </div>
      <div class="card-body">
        <p class="card-text fs-4 fst-italic">"{{ i.filho.relato }}"</p>
      </div>
      <div class="btn-toolbar row justify-content-center card-footer">
        <button type="button" class="col-4 btn btn-outline-danger separa" data-toggle="modal" data-target="#materiais">
          <i class="bi bi-vector-pen"></i> Doar
        </button>
      </div>
    </div>
  </div>
  