<div class="d-flex justify-content-center flex-wrap mt-5 mb-5" style="margin-left: 15%;">
  <div class="col-md-3">
    <img src="/assets/img-geral/donation.png" alt="" width="150" height="150">
  </div>

  <div class="col">
    <p class="fs-4">Seja um doador e transforme a vida de diversas crianças</p>
    <p class="">Doe seus materiais escolares em bom estado que você não usa!</p>
  </div>
</div>

<p class="fs-4 text-center mt-4" >Procure as crianças mais próximas que precisam da sua ajuda!</p>
<form #formvalidate="ngForm" class="mb-3 mt-5">
  <div class="rounded-pill">
    <div class="input-group input-group-lg container-sm borda">
      <input
        type="text"
        placeholder="Estado"
        required
        class="form-control inp inpu"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
        name="estado"
      />
      <!-- <option selected><span class="selectprim">Estado</span></option>
        <option [value]="est.nome" *ngFor="let est of estados">
          {{ est.nome }}
        </option>
      </select> -->
      <input
        [(ngModel)]="filtroPesquisa.escola"
        name="escola"
        type="text"
        required
        placeholder="Escola"
        class="form-control inp inpu"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
      />
      <input
        type="text"
        [(ngModel)]="filtroPesquisa.material"
        name="material"
        required
        class="form-control inp"
        placeholder="Material escolar"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
      />
      <!-- <option selected>
          <span class="selectprim">Material escolar</span>
        </option>
        <option [value]="mat.descricao" *ngFor="let mat of materiais">
          {{ mat.descricao }}
        </option>
      </select> -->
      <button
        (click)="print()"
        type="button"
        [disabled]="formvalidate.invalid"
        class="rounded-pill btn btn-danger"
      >
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
</form>

<div class="d-flex justify-content-center flex-wrap mt-5">
<div *ngFor="let i of objFilhos" class="">
  <div
  class="card contorno mb-3 mx-5 my-5"
  style="width: 26rem; height: 22rem;"
  >
  <!-- <p class="fs-5 text-danger">Como você pode ajudar:</p> -->
    <div class="card-header row">
      <div class="col">
        <img
          [src]="i.urlFoto"
          class="rounded-circle"
          width="100"
          height="100"
          alt=""
        />
      </div>
      <div class="col-8">
        <h5 class="fs-2 text-dark">{{ i.nomeFilho }}</h5>
        <p class="fs-5 text-dark padd">{{ i.nomeEscola }}</p>
        <p class="fs-5 text-dark padd">{{ i.uf }} - {{ i.localidade }}</p>
        
      </div>
    </div>
    
    <div class="card-body">
      <p class="card-text fs-5">
        Doando todos os materias escolares você permite que
        {{ i.nomeFilho }} estude o ano todo
      </p>
    </div>
    <div class="btn-toolbar row justify-content-center">
      <button type="button" class="col-4 btn botao-principal" (click)="setarMateriaisFilho(i)">
        Ver mais
      </button>
    </div>
  </div>
</div>
</div>