<h1 class="display-6 mb-3 text-center tamanho">Bem-vindo (a) {{ filho.pai.nome }}</h1>

<div class="d-flex justify-content-center flex-wrap mt-4">
  <div *ngFor="let item of filhos; let i = index" class="separaprim my-1">
    <div
      class="card contorno mx-3 my-4"
      style="width: 26rem; height: 18rem;"
    >
      <div class="card-header row" style="height: 12rem">
        <div class="col">
          <img
            [src]="item.urlFoto"
            class="rounded-circle row"
            width="100"
            height="100"
            alt=""
          />
          <div class="d-flex justify-content-center">
            <button
              (click)="editarFilho(item)"
              href="#modalCadastro1"
              data-bs-toggle="modal"
              style="margin-right: 11px;"
              class="btn botao-editar row mt-3"
            >
              Editar
            </button>
          </div>
        </div>
        
        <div class="col-8">
          <h5 class="fs-2 text-dark">{{ item.nome }}</h5>
          <p class="fs-5 text-dark padd">{{ item.escola.nome }}</p>
          <p class="fs-5 text-dark padd">
            {{ item.escola.uf }} - {{ item.escola.localidade }}
          </p>
          
        </div>
      </div>

      <div class="mt-4 d-flex justify-content-md-center">
        <button
          type="button"
          class="btn botao-excluir"
          (click)="excluir(item, i)"
        >
          Excluir
        </button>

        <button
          type="button"
          class="btn botao-material separa"
          (click)="carregarMateriais(item)"
          data-bs-toggle="modal"
          data-bs-target="#materiais"
        >
          Materiais
        </button>
      </div>
    </div>
  </div>

  <div class="separaprim">
    <div
      class="card contorno mx-4 my-4"
      style="width: 26rem; height: 18rem; float: left; margin-top: 2%"
    >
      <div class="card-body mt-2">
        <div class="justify-content-center text-center">
          <h2 class="font">Criar cadastro do filho</h2>
          <a
            class="text-decoration-none link-primary"
            href="#modalCadastro1"
            data-bs-toggle="modal"
            (click)="novo()"
          >
            <i class="bi bi-plus-circle" style="font-size: 120px"></i>
          </a>

          <div
            class="modal fade addqueue"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            id="modalCadastro1"
            tabindex="-1"
            data-backdrop="static"
            data-keyboard="false"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel">
                    Faça o cadastro do seu filho
                  </h4>
                  <button
                    type="button"
                    (click)="novoCarou()"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <app-add-filho
                    [filho]="filho"
                    [escola]="filho.escola"
                  ></app-add-filho>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade "
  id="materiais"
  tabindex="-1"
  data-backdrop="static"
  data-keyboard="false"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel"></h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #formValidate="ngForm">
          <p class="fs-2">Insira os itens que seu filho (a) precisa:</p>
          <section class="row g-3 mb-3">
            <div class="form-group col-md-3">
              <input
                type="text"
                #nomeValidate="ngModel"
                class="form-control tamInput"
                id="idmodal"
                name="id"
                [(ngModel)]="filho.nome"
                readonly
                autocomplete="false"
              />
            </div>

            <div class="form-group col-md-3">
              <select
                id="materialmodal"
                name="material"
                class="form-control tamInput"
                [(ngModel)]="material.id"
                required
                #materialValidate="ngModel"
              >
              <option selected disabled hidden>Material</option>
                <option [ngValue]="p.id" *ngFor="let p of materiais">
                  {{ p.descricao }}
                </option>
              </select>
            </div>

            <div class="form-group col-md-2">
              <input
                placeholder="Quant."
                type="number"
                #qtdValidate="ngModel"
                class="form-control tamInput"
                min="1"
                id="qtdmodal"
                name="qtd"
                [(ngModel)]="materialFilho.quantidadeDesejada"
                required
                autocomplete="false"
              />
            </div>
          </section>

          <section class="d-flex justify-content-center mb-4">
            <button class="btn btn-primary" (click)="novo()">Novo</button>
            <button
              class="btn btn-primary separa"
              (click)="salvarMaterialFilho()"
            >
              Adicionar a lista
            </button>
          </section>
        </form>
        <p class="mb-3 fs-5">Lista de materiais</p>
        <div class="mb-3">
          <div
            class=""
            *ngFor="let item of materiaisFilho; let i = index; let f = first"
            [ngClass]="{ active: f }"
          >
            <div class="mb-2 d-flex justify-content-evenly">
              <div class="form-group mb-2">
                <img
                  [src]="item.material.urlFoto"
                  alt="..."
                  width="50"
                  height="50"
                />
              </div>
              <h5 class="card-title">
                {{ item.quantidadeDesejada }}
              </h5>
              <h5 class="card-title">
                {{ item.material.descricao }}
              </h5>
              <a class="link-danger" (click)="excluirMaterial()"><i class="bi bi-trash"></i></a>
              <a class="link-primary" (click)="editarMaterial(item)"><i class="bi bi-pencil-square"></i></a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
