
.inp{
    border: none;
}
.input-bottom{
    border-bottom: 3px solid #E8E8E8;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}