<nav [hidden]="esconderMenuPai()" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  <a class="navbar-brand" (click)="sair()">LOGO</a>
  <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDarkDropdown"
      aria-controls="navbarNavDarkDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  <div id="navbarNavDarkDropdown" class="collapse navbar-collapse">
    <div class="container-fluid d-flex justify-content-end navbar-nav">
      <div class="nav-item dropdown">
    <a
      class="navbar-brand"
      [routerLink]="['/addfilho']"
      routerLinkActive="active"
      >Cadastro</a
    >
    <a
      class="navbar-brand"
      [routerLink]="['/listfilho']"
      routerLinkActive="active"
      >Filhos</a
    >
    <a class="navbar-brand" href="#">Dados</a>
  </div>
  </div>
</div>
</div>
</nav>

<nav [hidden]="esconderMenuDoador()" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">LOGO</a>
  <div class="container-fluid d-flex justify-content-end">
    <a
      class="navbar-brand"
      [routerLink]="['/addfilho']"
      routerLinkActive="active"
      >Quem somos</a
    >
    <a
      class="navbar-brand"
      [routerLink]="['/listfilho']"
      routerLinkActive="active"
      >O que fazemos</a
    >
    <a class="navbar-brand" href="#">Login</a>
    <a class="navbar-brand" href="#">Doações</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDarkDropdown"
      aria-controls="navbarNavDarkDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>


<router-outlet></router-outlet>
