<nav [hidden]="esconderMenuPai()" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  <a class="navbar-brand" (click)="sair()">LOGO</a>
  <button
      id="btnMenuPai"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDarkDropdown"
      aria-controls="navbarNavDarkDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  <div id="navbarNavDarkDropdown" class="collapse navbar-collapse">
    <div class="container-fluid d-flex justify-content-end navbar-nav">
      <div class="">
    <a
      class="navbar-brand"
      [routerLink]="['/addfilho']"
      routerLinkActive="active"
      >Cadastro</a
    >
    <a
      class="navbar-brand"
      [routerLink]="['/listfilho']"
      routerLinkActive="active"
      >Filhos</a
    >
    <a class="navbar-brand" (click)="sair()"><i class="bi bi-person-circle" style="font-size: 27px;"></i></a>
  </div>
  </div>
</div>
</div>
</nav>

<nav [hidden]="esconderMenuDoador()" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  <a class="navbar-brand">LOGO</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarDoadorNavDarkDropdown"
    aria-controls="navbarDoadorNavDarkDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarDoadorNavDarkDropdown" class="collapse navbar-collapse">
  <div class="container-fluid d-flex justify-content-end">
    <div class="nav-item dropdown">
    <a
      class="navbar-brand"
      [routerLink]="['/addfilho']"
      routerLinkActive="active"
      >Quem somos</a
    >
    <a
      class="navbar-brand"
      [routerLink]="['/listfilho']"
      routerLinkActive="active"
      >O que fazemos</a
    >
    <a class="navbar-brand" href="#">Cadastre-se</a>
    <a class="navbar-brand" [routerLink]="[ '/listfilhosgeral' ]" routerLinkActive="active">Doações</a>
  </div>
</div>
</div>
</div>
</nav>


<router-outlet></router-outlet>
