<nav [hidden]="esconderMenuPai()" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" style="cursor: pointer" (click)="sair()"
      ><img src="/assets/img-geral/solida.png" width="100" height="100" alt=""
    /></a>
    
    <div id="navbarNavDarkDropdown" class="ajustar">
      <div class="container-fluid d-flex justify-content-end navbar-nav">
        <div class="">
          <a
            class="navbar-brand mx-4"
            [routerLink]="['/addfilho']"
            routerLinkActive="active"
            >Cadastro</a
          >
          <a
            class="navbar-brand mx-4"
            [routerLink]="['/listfilho']"
            routerLinkActive="active"
            >Filhos</a
          >
          <a class="navbar-brand mx-4" (click)="sair()"
            ><i class="bi bi-person-circle" style="font-size: 27px"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav [hidden]="esconderMenuDoador()" class="navbar navbar-expand-lg">
  <div class="container-fluid ajustar">
    <a class="navbar-brand" id="re"
      ><img src="/assets/img-geral/solida.png" width="100" height="100" alt=""
    /></a>
    
    <div id="navbarDoadorNavDarkDropdown" class="">
      <div class="container-fluid d-flex justify-content-end">
        <div class="nav-item dropdown " >
          <a
            class="navbar-brand mx-4"
            [routerLink]="['/addfilho']"
            routerLinkActive="active"
            >Quem somos</a
          >
          <a
            class="navbar-brand mx-4"
            [routerLink]="['/listfilho']"
            routerLinkActive="active"
            >Dúvidas</a
          >
          <a
            class="navbar-brand mx-4"
            style="cursor: pointer"
            (click)="chamarCadastro()"
            >Cadastre seus filhos</a
          >
          <button
            class="navbar-brand btn botao-principal mx-4 tam-botao"
            [routerLink]="['/listfilhosgeral']"
            routerLinkActive="active"
          >
            Doações
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
